<h1><%= @project.name %> Shots</h1>

<div class="cards">
  <% @project.shots.each do |shot| %>
    <div class="card">
      <%= link_to [@project, shot] do %>
        <div class="card-image">
          <%= image_tag shot.image.url %>
        </div>
        <div class="card-header">
          <%= shot.name %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
