.project--shots {
  position: relative;
  background: none !important;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  overflow: hidden;
  white-space: nowrap;

  li:hover {
    background-color: $alert-color !important
  }

  a {
    text-decoration: none;
    color: $dark-gray;
  }

  div:first-of-type {
    line-height:0;
  }

  div {
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  div.description {
    display: inline-block;
    margin-left: 20px;
    max-width: 100%;
    vertical-align: top;
    margin-top: 13px;
    position: relative
  }

}